---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h6>My Astro Site</h6>
	</body>
</html>
